@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-table {
  border-radius: 3px;
  height: 80%;
  margin: 0 auto;
  background-color: $white;

  &__title {
    @include h1-mobile;
    color: $instock-black;

    @include tablet {
      @include h1-desktop;
      flex-grow: 1;
    }
  }

  &__header-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: row;
      padding: 2rem 2rem 1.5rem 2rem;
      flex-grow: 1;
      gap: 0.75rem;
    }
  }

  &__search-input {
    width: 100%;
    @include form-field;
    background-image: url("../../assets/Icons/search-24px.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;

    @include tablet {
      max-width: 11.5625rem;
    }
  }

  &__button {
    width: 100%;
    @include button-primary;
    @include h3-labels-links-button-mobile;

    @include tablet {
      @include h3-labels-links-button-desktop;
      max-width: 10.625rem;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__column-headers {
    display: none;

    @include tablet {
      background-color: $light-grey;
      color: $slate;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2.5rem;
      padding: 0 2rem;
    }
  }

  &__header {
    @include table-header-desktop;
    width: 21%;

    &:last-child {
      text-align: right;
      width: 10%;
    }
  }
}
