@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    width: 100%;
    padding: 40px;
    text-align: center;
    margin-top: auto;

    @include tablet {
        padding: 40px;
    }

    @include desktop {
        padding: 50px;
    }

    &__text {
        @include body-small-mobile;
        color: $slate;
        margin: 0;

        @include tablet {
            @include body-small-desktop;
        }

        @include desktop {
            @include body-small-desktop;
        }
    }
}