@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.table-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1.25px solid $cloud;
  padding: 1rem;

  &__information {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__detail-container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    @include table-header-mobile;
    color: $slate;
    padding-top: 1rem;
  }

  &__detail {
    @include body-medium-mobile;
  }

  &__icon-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }
}
